<html>

<head>
<meta http-equiv="Content-Type" content="text/html">
<% getIndex("no-cache"); %>
<title>工作模式</title>
<script type="text/javascript" src="../util_gw.js"> </script>
<script>
var wlan_num =<% getIndex("show_wlan_num"); %> ;
var wispWanId = <% getIndex("wispWanId"); %> ;
var isPocketRouter="<% getInfo("isPocketRouter"); %>"*1;
function opModeClick()
{
	if(wlan_num > 1){
		if(document.fmOpMode.opMode[1].checked)
			enableTextField(document.fmOpMode.wispWanId);
		else
			disableTextField(document.fmOpMode.wispWanId);
	}
}

function sclick()
{
if(confirm('修改工作模式将会立即重启。确定?'))
{

return true;
}else
{
return false;
}

}
</script>
</head>
<body>
<blockquote>
<h2><font color="#0000FF">工作模式</font></h2>


<table border=0 width="500" cellspacing=0 cellpadding=0>
  <tr><font size=2>
  你可以为NAT设置不同的局域网、无线局域网接口模式，和桥接功能。
  </tr>
  <tr><hr size=1 noshade align=top></tr>
</table>
<form action=/boafrm/formOpMode method=POST name="fmOpMode">
<table border="0" width=500>
	<tr>
		<td width ="23%" valign="top">
		<input type="radio" value="0" name="opMode" onClick="opModeClick()" ></input>
		<font size=2> <b> 网关: </b> </font>
		</td>
		<td width ="77%">
			<font size=2>在这种模式下，设备是连接到互联网通过ADSL和电缆调制解调器。NAT启用和电脑在局域网端口共享同一IP ISP通过广域网端口。连接类型可以通过使用PPPoE，WAN页面设置DHCP客户端，PPTP客户端，L2TP客户端或静态IP。</font>
		</td>
	</tr>
	<td colspan="2" height="10"></tr>


	<tr>
		<td width ="23%" valign="top">
		<input type="radio" value="2" name="opMode" onClick="opModeClick()" ></input>
		<font size=2> <b> 无线ISP: </b> </font>
		</td>
		<td width ="77%">
			<font size=2>在这种模式下，所有的以太网端口桥接在一起，无线客户端将连接到ISP的接入点。NAT启用和PC的以太网端口共享同一IP ISP通过无线局域网。您可以连接到网站的调查页面AP ISP。连接类型可以通过使用PPPoE，WAN页面设置DHCP客户端，PPTP客户端，L2TP客户端或静态IP。</font>
		</td>
	</tr>

	<tr>
		<td width ="23%" valign="top"> </td>
		<td width ="77%">
			<script>
			if(wlan_num > 1){
				document.write('<font size=2><b>WAN Interface : </b>');
				document.write('<select size="1" name="wispWanId">');
				for(i=0 ; i < wlan_num ; i++)
					document.write('<option value="'+i+'">wlan'+(i+1)+'</option>');
				document.write('</select>');
			}
			</script>
		</td>
	</tr>
	
</table>
<script>
	opmode = <% getIndex("opMode"); %> ;

if(opmode==2)
{
opmode=1;
}

	document.fmOpMode.opMode[opmode].defaultChecked= true;
	document.fmOpMode.opMode[opmode].checked= true;
	
	if(isPocketRouter == 1)
	{
		document.fmOpMode.opMode[0].disabled =true;
		document.fmOpMode.opMode[1].disabled =true;
		//document.fmOpMode.opMode[2].disabled =true;
	}
		
	var isWispDisplay =  <% getIndex("isWispDisplay"); %> ;
	if(isWispDisplay == 0)
		document.fmOpMode.opMode[1].disabled =true;
		
	if(wlan_num > 1){
		document.fmOpMode.wispWanId.defaultSelected= wispWanId;
		document.fmOpMode.wispWanId.selectedIndex= wispWanId;
	}
	opModeClick();
</script>
  <input type="hidden" value="/chn/opmode_chn.htm" name="submit-url"  onClick="return sclick()">
  <p><input type="submit" value="提交" name="apply">
&nbsp;&nbsp;
  <input type="reset" value="重设" name="set" >
&nbsp;&nbsp;
</form>
</blockquote>
</font>
</body>

</html>
