<html>

<head>
<meta http-equiv="Content-Type" content="text/html">
<% getIndex("no-cache"); %>

<script type="text/javascript" src="../res/jquery.js"></script>
<style type="text/css">
.txt1{
	
	font-family:微软雅黑;
	font-size:12px;
	font-weight:normal;
	padding: 0;
	margin:0;
width:180px;

}

.button1{
	
 display: block;
 position: absolute;
 top: 190px;
 left: 200px;


}
.button2{
	
 display: block;
 position: absolute;
 top: 190px;
 left: 270px;


}
</style>
<title>Password configuration</title>
<% language=javascript %>
<SCRIPT>
var ASCIIStrValid = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' + 'abcdefghijklmnopqrstuvwxyz' + '0123456789' +  '-_';
function checkASC(keyval,place)
{
         var j, k, flag;
         for ( k=0; k<keyval.value.length; k++ ){                  
                   for(j=0;j<ASCIIStrValid.length;j++){
                            flag = false;
                            if(keyval.value.charAt(k) ==  ASCIIStrValid.charAt(j)){
                                     flag = true;
                                     break;
                            }
                   }
                   if(flag == false){
                       alert("输入中含有非法字符，请您重新输入！\r"+
"(请不要输入字母、数字、中划线、下划线以外的字符。)");                            
                            keyval.value=keyval.defaultValue;
                            keyval.focus();
                            return false;
                   }
         }
         return true;
}
function includeSpace(str)
{
  for (var i=0; i<str.length; i++) {
  	if ( str.charAt(i) == ' ' ) {
	  return true;
	}
  }
  return false;
}

function saveChanges()
{
   if ( document.password.username.value.length == 0 &&document.password.newpass.value.length == 0) {
	if ( !confirm('用户名为空。\n是否确认不需要密码保护？ ') ) {
		document.password.username.focus();
		return false;
  	}
	else
		return true;
  }

  if ( document.password.username.value.length == 0 &&
  		document.password.newpass.value.length > 0 ) {
	alert('用户名不能为空！');
	document.password.newpass.focus();
	return false;
  }

   if ( document.password.newpass.value != document.password.confpass.value) {
	alert('两次输入的用户密码不一致！');
	document.password.newpass.focus();
	return false;
  }

  if ( document.password.username.value.length > 0 &&
  		document.password.newpass.value.length == 0 ) {
	alert('密码不能为空！');
	document.password.newpass.focus();
	return false;
  }

  if ( includeSpace(document.password.username.value)) {
	alert('用户名不能包含空格!');
	document.password.username.focus();
	return false;
  }

  if ( includeSpace(document.password.newpass.value)) {
		alert('密码不能包含空格!');
	document.password.newpass.focus();
	return false;
  }

  return true;
}
function saveClick()
{

var temp="/boafrm/formPasswordSetup";
param="username="+document.getElementById("username").value+"&newpass="+document.getElementById("newpass").value+"&confpass="+document.getElementById("confpass").value+"&submit-url=%2Fchn%2Fstatus_chn.htm&save=%C8%B7%B6%A8";
if(saveChanges())
{
	$.ajax({
type: "POST",

		url: temp,
		cache: false,
    data:param,

		success: function(result) {
			if (result != null && result.length !== 0)
			{
        
        //send_security();
         alert("设置成功！");
			}
		},
		  
		complete: function(xmlHttpHeader, textStatus) {
			xmlHttpHeader = null;
		  	

		}

});
		return true;

}

}
</SCRIPT>
</head>

<BODY>
<blockquote>
<h2><font color="#0000FF">用户账户设置</font></h2>

<form action=/boafrm/formPasswordSetup method=POST name="password">
 <table border="0" cellspacing="4" width="500">
  <tr><font size=2>

  </tr>
  <tr><hr size=1 noshade align=top></tr>

    <tr>
      <td width="20%"><font size=2><b>用户名:</b></td>
      <td width="50%"><font size=2><input type="text" name="username" id="username" class="txt1"  size="20" maxlength="16" value="<%getInfo("userName");%>" onblur="checkASC(this,'user name')"></td>
    </tr>
    <tr>
      <td width="20%"><font size=2><b>新密码:</b></td>
      <td width="50%"><font size=2><input type="password" name="newpass" id="newpass" class="txt1"  size="20" maxlength="16" onblur="checkASC(this,'user name')"></td>
    </tr>
    <tr>
      <td width="20%"><font size=2><b>确认新密码:</b></td>
      <td width="50%"><font size=2><input type="password" name="confpass"  id="confpass" class="txt1"  size="20" maxlength="16" onblur="checkASC(this,'user name')"></td>
    </tr>
  </table>
   <input type="hidden" value="/chn/status_chn.htm" name="submit-url">
  <p><input type="button" class="button1" value="确定" name="save" onClick="return saveClick()">&nbsp;&nbsp;
  <input type="reset" class="button2" value="清除" name="reset"></p>
</form>
<blockquote>
</body>
</html>


