<html>

<head>
<meta http-equiv="Content-Type" content="text/html">
<% getIndex("no-cache"); %>
<title>无线客户端</title>
</head>

<body>
<blockquote>
<h2><font color="#0000FF">
<script type="text/javascript">
var wlan_num =  <% getIndex("wlan_num"); %>;
if (wlan_num > 1) {
	var wlan_idx_ = <% getIndex("wlan_idx"); %> + 1;
	document.write("无线客户端-wlan" + wlan_idx_ + "</p>");
}
else
	document.write("无线客户端</p>");
</script>
</font></h2>


<table border=0 width="800" cellspacing=0 cellpadding=0>
  <tr><font size=2>
本页面显示了无线客户端的MAC地址、传输、接收数据包计数器和加密方式。
  </tr>
  <tr><hr size=1 noshade align=top></tr>
</table>
<form action=/boafrm/formWirelessTbl method=POST name="formWirelessTbl">
<table border='1' width="580">
<tr bgcolor=#7f7f7f><td width="80"><font size=2><b>MAC地址</b></td>
<!--
<td width="250"><font size=2><b>SSID</b></td>
-->
<td width="60"><font size=2><b>模式</b></td>
<td width="60"><font size=2><b>Tx 包</b></td>
<td width="60"><font size=2><b>Rx 包</b></td>
<td width="60"><font size=2><b>Tx 速率 (Mbps)</b></td>
<td width="60"><font size=2><b>省电模式</b></td>
<td width="60"><font size=2><b>过期时间 (s)</b></td></tr>
<% wirelessClientList(); %>
</table>

<input type="hidden" value="/chn/wlstatbl_chn.htm" name="submit-url">
  <p><input type="submit" value=" 刷新 " name="refresh">&nbsp;&nbsp;
  <input type="button" value=" 关闭 " name="close" onClick="javascript: window.close();"></p>
</form>
</blockquote>
</body>

</html>
